.body {
	margin: 5px 50px 5px 50px;
}

.navbar {
	height: 100px;
	width: 100%;
	z-index: 2;
}

.sidenav {
	height: 100%;
	width: 250px;
	z-index: 1;
	margin-left: 15px;
	top: 0;
}

.mainbody {
	margin-left: 275px;
	position: absolute;
	top: 100px;
	margin-right: 75px;
}
#myImage {
	width:215px;
}